{% extends 'base.html' %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,400;1,700&display=swap');
</style>
{% block content %}
<br>
<h2 style="font-family:'Lobster', cursive; ">{% block title %} About us{% endblock %}</h2>
<br>
<p style="font-family: 'Roboto Condensed', sans-serif;font-size: large;">
    Welcome to FilmFlix, where every movie counts and every opinion matters!

    In today's world, with an overwhelming number of films being produced every year, finding the next great watch can
    be like searching for a needle in a haystack. FilmFlix is here to bridge that gap, providing a platform for movie
    enthusiasts around the world to share, explore, and rediscover cinematic gems.

<h3>What Makes FilmFlix Unique?</h3>
Personalized Experience: At FilmFlix, we believe in the power of personal experiences. Here, you don't just find
random movie suggestions. You get to know what real people, like you, have watched and cherished. Every movie added
to our platform comes with a touch of genuine love and admiration from fellow film buffs.
<h3>A Growing Library with Flexibility:</h3>
With FilmFlix, not only can you add the films you've admired, but you also have
the freedom to provide comprehensive details about them. Found a detail that seems off? No worries! Our platform
gives you the liberty to edit or even delete entries. After all, we're all about authentic and accurate movie
insights!
<h3>Empowerment and Respect for Choices:</h3> We understand that not every film resonates with everyone. That's why
FilmFlix
gives you the power to delete any film from your list that you didn't connect with. Because, at the end of the day,
your movie journey should be about love, passion, and respect for the art.
<h3>Join Our Community!</h3>
Whether you're a seasoned movie critic, a casual weekend watcher, or someone diving into the world of cinema for the
first time, FilmFlix welcomes you with open arms. Join our ever-growing community, share your movie experiences,
discover hidden gems, and embark on a cinematic journey like never before!

Because at FilmFlix, we're not just about movies. We're about memories, moments, and the magic of cinema that binds
us all.
</p>

{% endblock %}